.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
}
.big_image{
    width: 100%;
}
#start, #status{
    font-size: 22px;
}
h4{
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
}
.modal_dialog{
    width: 90%;
}
.instruction_image{
    display: inline-block;
    width: 45%;
}
.copy-right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}